<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Accordion Form</title>
  <style>
    .accordion {
      width: 500px;
      max-width: 100%;
    }

    .accordion-item {
      background-color: #ffffff;
      margin-bottom: 10px;
    }

    .accordion-header {
      padding: 10px 15px;
      cursor: pointer;
      background-color: #eeeeee;
      border-bottom: 1px solid #dddddd;
      /* display: none; */
    }

    .accordion-collapse {
      display: none;
      padding: 10px 15px;
    }

    .accordion-collapse.show {
      display: block;
    }

    .add-button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 15px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">Course Content</h2>
      <div class="accordion-collapse" id="accordion-collapse-level">
        <div class="accordion-body">
          <!-- <input type="text" name="level" placeholder="Select Course Title"> -->
          <select name="course" id="select_course_title">
            <option value="">Select Course title</option>
            <option value="WN-P2-A1.1">Counting to 1,000 Using Blocks </option>
            <option value="F-P@-A1.1">Counting to 1,000 Using Place Values </option>
            <option value="F-P@-A1.1">Comparing Numbers to 1,000 (Comparing Hundreds and Tens) </option>
        </select>
        </div>

        <!-- <div class="accordion">
          <div class="accordion-item">
            <h2 class="accordion-header">Course Title 1</h2>
            <div class="accordion-collapse" id="accordion-collapse-content-area">
              <div class="accordion-body">
                <input type="text" name="content_area" placeholder="Content Area">
              </div>
            </div>
          </div>
        </div> -->

        <div class="accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="course_header_title">Course Title 1</h2>
            <div class="accordion-collapse" id="accordion-collapse-pisa-framework">
              <div class="accordion-body">
                <input type="text" name="pisa_framework" placeholder="Search Lesson">

                <div class="topic-container">
                  <div class="accordion-item">
                    <h2 class="accordion-header">Lesson 1</h2>
                    <div class="accordion-collapse" id="accordion-collapse-topic">
                      <div class="accordion-body">
                        <input type="text" name="topic" placeholder="Topic">
                        <div class="accordion">
                          <div class="accordion-item">
                            <h2 class="accordion-header">Video</h2>
                            <div class="accordion-collapse" id="accordion-collapse-sub-topic">
                              <div class="accordion-body">
                                <div class="accordion">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header">Lesson Materials</h2>
                                    <div class="accordion-collapse" id="accordion-collapse-course-skill">
                                      <div class="accordion-body">
                                        <input type="text" name="course_skill" placeholder="Upload file here">
                                        <button class="add-button" id="add-course-skill">Add Video or PPt</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header">Lesson Modules</h2>
                                    <div class="accordion-collapse" id="accordion-collapse-course-title">
                                      <div class="accordion-body">
                                        <input type="text" name="course_title" placeholder="Course Title">
                                        <button class="add-button" id="add-course-title">Add Modules</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="add-button" id="add-topic">Add Lesson</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function addAccordionClickEventListeners() {
      const accordionItems = document.querySelectorAll('.accordion-item');
      accordionItems.forEach(item => item.querySelector('.accordion-header').addEventListener('click', () => {
        item.querySelector('.accordion-collapse').classList.toggle('show');
      }));
    }

    const addTopicButton = document.getElementById('add-topic');
    const topicContainer = document.querySelector('.topic-container');

    let topicCount = 1;

    addTopicButton.addEventListener('click', () => {
      topicCount++;
      const newTopicAccordion = document.createElement('div');
      newTopicAccordion.className = 'accordion-item';

      newTopicAccordion.innerHTML = `
        <h2 class="accordion-header">Lesson ${topicCount}</h2>
        <div class="accordion-collapse" id="accordion-collapse-topic-${topicCount}">
          <div class="accordion-body">
            <input type="text" name="topic" placeholder="Search Lesson Modules">
            <div class="accordion">
              <div class="accordion-item">
                <h2 class="accordion-header">Video</h2>
                <div class="accordion-collapse" id="accordion-collapse-sub-topic-${topicCount}">
                  <div class="accordion-body">
                    <div class="accordion">
                      <div class="accordion-item">
                        <h2 class="accordion-header">Lesson Materials</h2>
                        <div class="accordion-collapse" id="accordion-collapse-course-skill-${topicCount}">
                          <div class="accordion-body">
                            <input type="text" name="course_skill" placeholder="Course Skill">
                            <button class="add-button" id="add-course-skill">Add Video or PPt</button>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header">Lesson Modules</h2>
                        <div class="accordion-collapse" id="accordion-collapse-course-title-${topicCount}">
                          <div class="accordion-body">
                            <input type="text" name="course_title" placeholder="Course Title">
                            <button class="add-button" id="add-course-title">Add Course Title</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      `;

      topicContainer.appendChild(newTopicAccordion);

      addAccordionClickEventListeners();
    });

    const addCourseSkillButton = document.getElementById('add-course-skill');

    addCourseSkillButton.addEventListener('click', () => {
      const newCourseSkillInput = document.createElement('input');
      newCourseSkillInput.type = 'text';
      newCourseSkillInput.name = 'course_skill';
      newCourseSkillInput.placeholder = 'Course Skill';

      const accordionBody = document.querySelector('#accordion-collapse-course-skill');
      accordionBody.appendChild(newCourseSkillInput);
    });

    const addCourseTitleButton = document.getElementById('add-course-title');

    addCourseTitleButton.addEventListener('click', () => {
      const newCourseTitleInput = document.createElement('input');
      newCourseTitleInput.type = 'text';
      newCourseTitleInput.name = 'course_title';
      newCourseTitleInput.placeholder = 'Course Title';

      const accordionBody = document.querySelector('#accordion-collapse-course-title');
      accordionBody.appendChild(newCourseTitleInput);
    });

    addAccordionClickEventListeners();

    // ==========Select Course title =====================================
    const courseTitle = document.getElementById('select_course_title');
    const courseHeaderTitle = document.getElementById('course_header_title');

    courseTitle.addEventListener('change', (e) => {
    e.preventDefault();
    courseHeaderTitle.innerText = `${courseTitle[courseTitle.selectedIndex].text} `;
});


  </script>

</body>
</html>
